	
<div class="list application-user-list">
 <div class="wrokflow-simulate" *ngIf="showWorkflowSimulator">
        <span class="arrow_box">Workflow Simulator</span>
        <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded wrokflow-simulate-btn"  [fitContent]="false"  (click)="openWorkflowSimilator()"></button>
    </div>
   	<div class="w-100"  *ngIf="showBreadcrumb && !fromDetailPage"> <app-breadcrumb></app-breadcrumb></div>
	<div id="title-bar">
    <div class="display">
        <div class="col" class="page-title-bar" *ngIf="(isMobile && !isSearchFocused) || !isMobile">
            <!-- <span class="pi pi-arrow-left back-action"></span> -->
            <span class="page-title" [innerHTML]="pageViewTitle | translate"></span>
             <span class="filters-banner" *ngIf="(mappedFiltersDisplay | keyvalue).length > 0" [title]="tooltipText"> (
                    <span *ngFor="let filter of mappedFiltersDisplay| keyvalue ; let isLast = last">
                        <span [textContent]="filter.key"></span> :
                        <span [textContent]="filter.value"></span>
                        <span *ngIf="!isLast">,</span>
                </span>
                    )
                </span>
        </div>

     	<app-action-bar  [buttons] = "isMobile? combinedActionConfig:leftActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
 actionBarName = "leftActionBar"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions" [filterActionButtons]="filterActions">
</app-action-bar>

	<app-action-bar  [buttons] = "isMobile? combinedActionConfig:rightActionBarConfig.children"
(onBtnClick)='actionBarAction($event)'
[style.order]="isMobile?'1':'0'"
 actionBarName = "rightActionBar"
[isRowSelected]="isRowSelected" [isChildListpage]="isChildPage"
[isListPage]="isList" [detailConditionalButtons]="conditionalActions" [filterActionButtons]="filterActions">
</app-action-bar>

	<div class="p-0" id="search-container" [ngStyle]="{'width':isMobile && isSearchFocused? '100%':'50%' }"
                [ngClass]="{'advance-filter-applied':filtersApplied, 'show-advanced-search':(showAdvancedSearch || filtersApplied || filter.globalSearch)}">
                <div class="input-group-append d-flex justify-content-end advancedSearch-only"
        *ngIf="(tableSearchConfig.showAdvancedSearch && tableSearchConfig?.children?.length > 0)">
        <span class="input-group-text pi pi-filter icon-font  cursor-pointer" (click)="toggleAdvancedSearch()"
            #toggleButton></span>
    </div>
    <div class="advanced-search ev-detail-view" *ngIf="(tableSearchConfig.showAdvancedSearch && showAdvancedSearch && tableSearchConfig?.children?.length > 0)"
        #menu>
        <span class="pr-3 pt-0 adv-search-header" [innerHTML]="'Advanced Search'| translate"></span>
        <span style="float:right" class="cursor-pointer"><i class="pi pi-times"
                (click)="toggleAdvancedSearch()"></i></span>
        <form [formGroup]="tableSearchControls" (ngSubmit)="this.filter.globalSearch = '';advancedSearch()" class="ev-form">
            <div class="row form-body">
                <div class="form-row vg-col-1">
                    	<div class="form-col" [hidden]="hiddenFields.email" id="email">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.email?.isRequired, 'error':inValidFields.email}">
        <label for="email" class="col-form-label email-label" [textContent]="'EMAIL'|translate"></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.email?.infoBubble"   [pTooltip]="(tableSearchFieldConfig?.email?.infoBubble|translate) || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control"  formControlName="email"  [placeholder]="(tableSearchFieldConfig?.email?.placeHolder|translate) || ''">
        <div class="fst-italic fs-5 help-text">{{(tableSearchFieldConfig?.email?.helpText|translate) || ''}}</div>
    </div>
</div>

	<div class="form-col" [hidden]="hiddenFields.firstName" id="firstName">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.firstName?.isRequired, 'error':inValidFields.firstName}">
        <label for="firstName" class="col-form-label firstName-label" [textContent]=" 'FIRST_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.firstName?.infoBubble"   [pTooltip]="(tableSearchFieldConfig?.firstName?.infoBubble|translate) || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="firstName" [placeholder]="(tableSearchFieldConfig?.firstName?.placeHolder|translate) || ''"
[maxlength]="tableSearchFieldConfig?.firstName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{(tableSearchFieldConfig?.firstName?.helpText|translate) || ''}}</div>
    </div>
</div>

	<div class="form-col" [hidden]="hiddenFields.lastName" id="lastName">
    <div class="field-row"  [ngClass]="{'required': tableSearchFieldConfig?.lastName?.isRequired, 'error':inValidFields.lastName}">
        <label for="lastName" class="col-form-label lastName-label" [textContent]=" 'LAST_NAME'|translate "></label>
        <span class="info-bubble" *ngIf="tableSearchFieldConfig?.lastName?.infoBubble"   [pTooltip]="(tableSearchFieldConfig?.lastName?.infoBubble|translate) || ''"><i class="fa fa-circle-info"></i></span>
        <input type="text" pInputText class="form-control" formControlName="lastName" [placeholder]="(tableSearchFieldConfig?.lastName?.placeHolder|translate) || ''"
[maxlength]="tableSearchFieldConfig?.lastName?.maxLength" />
        <div class="fst-italic fs-5 help-text">{{(tableSearchFieldConfig?.lastName?.helpText|translate) || ''}}</div>
    </div>
</div>

                </div>
            </div>
            <div class="search-actions">
                <div>
                    <button type="button" class="btn btn-secondary search-btn" (click)="clearFilterValues()">{{'CLEAR_FILTER' | translate}}</button>
                </div>
                <div>
                    <div class="btn-group mr-0" role="group">
                        <button type="button" class="btn btn-secondary search-btn"
                            (click)="toggleAdvancedSearch()">{{'CANCEL'| translate}}</button>
                        <button type="submit" class="btn btn-primary search-btn">{{'SEARCH'| translate}}</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

    </div>
</div>

	<div class="row" id="filter-container" *ngIf="showFilter() ">
    <div class="quick-filters ev-detail-view">
        <form [formGroup]="quickFilterControls" class="quick-filter-fields-list">
             <span class="left-arrow qf-arrow-controls" (click)="scrollFilterFieldsList('left', $event)" *ngIf="checkIfScrollbarVisible()">
                <i class="pi pi-angle-left"></i>
            </span>
            <div class="row align-filter quick-filter-fields" [id]="localStorageStateKey" [ngClass]="quickFilterConfig.style ==='style_2'? 'rowfiltercolumnfilter':'columnfilter'">
                
            </div>
            <span class="right-arrow  qf-arrow-controls" (click)="scrollFilterFieldsList('right', $event)" *ngIf="checkIfScrollbarVisible()">
                    <i class="pi pi-angle-right"></i>
                </span>
            <div  class="reset-quick-filter" (click)="resetQuickFilterValues()">
              {{'RESET_QUICK_FILTER' | translate}}
              <i [ngClass]="quickFilterApplied? 'pi-filter-fill' : 'pi-filter'" class="pi"></i>
            </div>
        </form>
    </div>
</div>

	<app-grid [gridConfig]="gridConfig" *ngIf="gridConfig  && (gridConfig | keyvalue).length > 0" [ngClass]="this.tableConfig.viewAs === 'card' ? 'gridsterList' : ''"  
[showonFilter]="showonFilter" [filtersApplied]=" queryViewList? queryViewFiltersApplied :hasMappedParameters" class="{{tableConfig.tableStyle}}" [fromDetailView]="fromDetailPage" [standardGrid]="standardGrid"></app-grid>


</div>


