<div class="detail provider-mapping-detail admin-popup">

    <div class="ev-detail-view" id="detail-view-container">
        <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()" >
            &times;
          </button>
        <div class="flex align-items-center justify-content-center form-container">
            <form class="ev-form " [formGroup]="ProviderMappingFormControl" #detailForm>

                <div class="row form-body">
                    <div class=" vg-col-2">
                        <div class="form-col" id="providerName">
                            <div class="field-row">
                                <label for="providerName" class="col-form-label providerName-label"
                                    [textContent]="'PROVIDER_NAME'|translate"></label>
                                <input type="text" pInputText class="form-control" formControlName="providerName"
                                    readonly="true">
                            </div>
                        </div>

                        <div class="form-col" id="authenticationMode">
                            <div class="field-row">
                                <label for="authenticationMode" class="col-form-label authenticationMode-label"
                                    [textContent]="'AUTHENTICATION_MODE' | translate"></label>
                                <p-dropdown 
                                    [options]="formFieldConfig.authenticationMode?.options"
                                    formControlName="authenticationMode"
                                    readonly="true"
                                    [disabled]="true">
                                    <ng-template let-item pTemplate="item">
                                        {{ item.label | translate }}
                                    </ng-template>
                                    <ng-template let-selectedItem pTemplate="selectedItem">
                                        {{ selectedItem.label | translate }}
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="form-col" *ngIf="showFields.includes('clientId')"  id="clientId">
                            <div class="field-row required">
                                <label for="clientId" class="col-form-label clientId-label"
                                    [textContent]=" 'CLIENT_ID'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="clientId"
                                type="password" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('clientSecret')" id="clientSecret">
                            <div class="field-row required">
                                <label for="clientSecret" class="col-form-label clientSecret-label"
                                    [textContent]=" 'CLIENT_SECRET'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="clientSecret"
                                type="password" [disabled]="true">
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('issuerURL')" id="issuerURL">
                            <div class="field-row">
                                <label for="issuerURL" class="col-form-label issuerURL-label"
                                    [textContent]=" 'ISSUER_URL'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="issuerURL"
                                     >
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('tokenURL')" id="tokenURL">
                            <div class="field-row required">
                                <label for="tokenURL" class="col-form-label tokenURL-label"
                                    [textContent]=" 'TOKEN_URL'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="tokenURL"
                                     >
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('apiKey')" id="apiKey">
                            <div class="field-row required">
                                <label for="apiKey" class="col-form-label apiKey-label"
                                    [textContent]=" 'API_KEY'|translate "></label>
                                <input  type="password" pInputText class="form-control" formControlName="apiKey"
                                     >
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('username')" id="username">
                            <div class="field-row required">
                                <label for="username" class="col-form-label username-label"
                                    [textContent]=" 'USERNAME'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="username"
                                     >
                            </div>
                        </div>
                        <div class="form-col" *ngIf="showFields.includes('password')" id="password">
                            <div class="field-row required">
                                <label for="password" class="col-form-label password-label"
                                    [textContent]=" 'PASSWORD'|translate "></label>
                                <input  type="password" pInputText class="form-control" formControlName="password"
                                     >
                            </div>
                        </div>
                        <div class="form-col"  id="baseURL">
                            <div class="field-row required">
                                <label for="baseURL" class="col-form-label baseURL-label"
                                    [textContent]=" 'BASE_URL'|translate "></label>
                                <input type="text" pInputText class="form-control" formControlName="baseURL"
                                     >
                            </div>

                    </div>
                    <div class="form-col" *ngIf="showFields.includes('saEmail')" id="saEmail">
                        <div class="field-row required">
                            <label for="saEmail" class="col-form-label saEmail-label "
                                [textContent]="'SERVICE_ACCOUNT_MAIL'|translate"></label>
                            <input type="text" pInputText class="form-control" formControlName="saEmail"
                                placeholder="Enter mail">
                        </div>
                    </div>
                    <div class="form-col" id="additionalInfo">
                        <div class="field-row">
                            <label for="additionalInfo" class="col-form-label additionalInfo-label "
                                [textContent]="'ADDITIONAL_INFO'|translate"></label>
                                <textarea
                                class="form-control"
                                rows="10"
                                columns="50"
                                name="additionalInfo"
                                formControlName="additionalInfo"
                                placeholder="Enter additional Info JSON here..."
                              ></textarea>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p-button icon="pi pi-check" class="import-btn" type="submit" (onClick)="updateValues()" label="Save">
        </p-button>
    </div>
</div>